.detail-container {
    margin-left: 100px;
    flex: 15;
    height: calc(100vh - 50px);
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: scroll;

    .detail-first-block {
        position: relative;       
        color: rgba(255, 255, 255, 0.85);

        .detail-option-icon {
            position: absolute;
            z-index: 1;
            right: 3em;
            top: 2em;
            color: white;
            cursor: pointer;
        }

        .detail-option-dropdown {
            position: absolute;
            width: 6em;
            background-color: white;
            border-radius: 3px;
            color: black;
            z-index: 1;
            right: 1em;
            top: 3.5em;

            .option-item {
                display: flex;
                justify-content: center;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                cursor: pointer;
                border: 1px solid rgba(187, 187, 187, 0.719);

                &:hover {
                    background-color: rgba(209, 209, 209, 0.808);
                }
            }
        }

        .detail-background {
            width: 100%;
            height: 650px;
            filter: brightness(20%);
            object-fit: cover;
        }

        .detail-poster {
            position: absolute;
            height: 400px;
            width: 300px;
            top: 7em;
            right: 5em;   
        }

        .detail-information {
            position: absolute;
            left: 2em;
            top: 10em;
            width: 35em;
            font-size: 16px; 
            
            
            .detail-name {
                text-transform: uppercase;
                font-size: 48px;
                margin-top: 0px;
            }
            
            .detail-writter {
                margin-top: 2em;
            }
            
            .detail-director {
                margin-top: 0.5em;
            }
            
            .detail-type {
                margin-top: 0.5em;
            }

            .detail-time {
                margin-top: 0.5em;
            }

            .detail-gerne {
                margin-top: 0.5em;
            }

            .detail-cast {
                margin-top: 0.5em;
            }
        }

        .detail-feature {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 3em;
            right: 3.5em;

            font-size: 1.3em;
            color: rgba(255, 255, 255, 0.9);

            .detail-trailer {
                background-color: rgba(126, 31, 31, 0.753);
                margin-left: 1em;
            }

            .detail-add-fav {      
                background-color: #917137;
            }

            .detail-remove-fav {
                background-color: #525047;
                color: white;
            }

            .detail-button {
                width: 7em;
                height: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
        
    }
    
    .second-block {
        
        .detail-plot {
    
            .detail-plot-header {
                margin-top: 0.5em;
                margin-left: 0.5em;
            }

            .detail-plot-content {
                margin: 1em 2em;
                font-size: 1.2em;

            
            }

            &:first-child > .detail-plot-content{
                margin-top: 0.2em;
            }
        }

        .detail-review {

            .detail-review-header{
                margin-top: 0.5em;
                margin-left: 0.5em;
            }

            .review-section {
                .review-title {
                    margin: 0 1.5em;
                    margin-top: 1em;
                    font-size: 1.5em;
                    font-weight: bold;
                }
                
                .review-content {
                    margin: 1em 2em;
                    margin-bottom: 0;
                    font-size: 1.2em;
                }    
            }
        }

        .detail-rate {
            margin: 1em 0.5em;
           

            .detail-rate-icon {
                color: rgb(117, 117, 24);
                // font-size: 1em;
            }
        }
    }
}

.delete-modal-comfirm {
    min-width: 6em;
}

.comment-section {
    margin-right: 100px;
    flex: 5;
    background-color: rgba(158, 158, 158, 0.808);
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.trailer-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .trailer-video {
        height: 35em;
        width: 70em;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.568);
}