.review-container {
    margin-right: 200px;
    flex: 13;
    background-color: rgba(94, 94, 94, 0.808);
    height: calc(100vh - 50px);
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.568);
}

