.post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3em;
}

.post-list-annouce {
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
}

.post-list-loader-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}
    