.topbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #917137;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;

    .left-topbar {
        flex: 3; 
        .main-logo {
            font-size: 30px;
            margin-left: 200px;
            color: rgb(212, 212, 212);
            font-weight: 550;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        } 
    }

    .middle-topbar {
        flex: 4;
    }

    .right-topbar {
        flex: 4;
        display: flex;
        align-items: center;
        margin-left: 50px;

        .topbar-icon {
            margin: 0 10px;
            position: relative;
            cursor: pointer;
            
            &:hover {
                color: white;
            }

            .topbar-icon-badge {
                position: absolute;
                width: 17px;
                height: 17px;
                font-size: 17px;
                background-color: red;
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -5px;
                right: -5px;
            }
        }

        .topbar-login {
            margin-left: 30px;
            cursor: pointer;
            font-size: 17px;
            color: white;
            display: flex;
            align-items: center;

            &:hover {
                opacity: 0.7;
            }

            .topbar-avatar {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                object-fit: cover;
            }

            .topbar-user-name {
                margin-left: 10px;
            }
        }
    }
}