.topbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #917137;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;

    .left-topbar {
        flex: 3; 
        .main-logo {
            font-size: 30px;
            margin-left: 200px;
            color: rgb(212, 212, 212);
            font-weight: 550;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        } 
    }

    .middle-topbar {
        flex: 4;
    }

    .right-topbar {
        flex: 4;
        display: flex;
        align-items: center;
        margin-left: 50px;

        .topbar-icon {
            margin: 0 10px;
            position: relative;
            cursor: pointer;

            .add-icon {
                color: black;

                &:hover {
                    color: white;
                }
            }
            
            &:hover {
                color: white;
            }

            .topbar-icon-badge {
                position: absolute;
                width: 17px;
                height: 17px;
                font-size: 17px;
                background-color: red;
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -5px;
                right: -5px;
            }
        }

        .topbar-login {
            margin-left: 2em;
            cursor: pointer;
            font-size: 1.3em;
            display: flex;
            align-items: center;

            &:hover {
                color: rgba(255, 255, 255, 0.7);
                .topbar-login-dropbox {
                    display: block !important;
                }
            }

            .topbar-user-name {
                margin-left: 0.2em;
            }

            .topbar-user-icon {
                font-size: 1.6em;
            }

            .topbar-signup {
                
            }

            .topbar-login-dropbox {
                position: absolute;
                background-color: #917137;
                top: 2.4em;
                right: 13.5em;
                display: none;
                color: black !important;
                list-style-type: none;
    
                .topbar-dropbox-item {
                    padding: 1em 1em;
                    border-bottom: 1px solid black;
                    cursor: pointer;
                }
    
                .topbar-dropbox-item:hover {
                    opacity: 0.5;
                }
            }
        }

        .topbar-register {
            margin-left: 1em;
            cursor: pointer;
            font-size: 1.3em;
            
            .topbar-register-title {
                text-decoration: none;
                color: black;

                &:hover {
                    color: rgba(255, 255, 255, 0.7);
                }
            }    
        }
    }
}

