.block-label {
    display: block;
    margin-top: 16px;
}

.block-input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 94%;
    padding: 5px 8px;
    font-size: 16px;
}

textarea {
    resize: none;
}

.add-post-container { 
    margin-left: 150px;
    margin-right: 200px;
    height: calc(100vh - 50px);
    background-color: rgba(94, 94, 94, 0.8);
    flex: 1;
    overflow-y: scroll;
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;

    .create-container{
        margin: 0 100px;
        background-color: rgba(255, 255, 255, 0.75);
     
        .header-title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            background-color: rgba(32, 92, 94, 0.75);
            height: 130px;
            color: white;

            .header-title-icon {
                font-size: 60px;
                margin-right: 20px;
            }
        }

        .first-block {
            padding: 0px 16px;
            font-size: 20px;
            display: flex;

            .information {
                flex: 6;
                border-right: 2px solid rgba(0, 0, 0, 0.50);
    
                .first-type {
                    margin-top: 16px;
    
                    .first-type-tags {
                        margin-left: 13px;           
                        list-style-type: none;
    
                        input[name='types'] {
                            display: none;
                        }
        
                        input[name='types'] + label {
                            border: 1px solid black;
                            cursor: pointer;
                        }
    
                        input[name='types']:hover + label {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
    
                        input[name='types']:checked + label {
                            background-color: rgba(32, 92, 94, 0.75);
                            color: white;
                        }
    
                        label {
                            padding: 3px 0px;
                            display: inline-block;
                            min-width: 80px;
                            text-align: center;     
                        }
                    }
                }
            }

            .poster-block {
                flex: 3;
                padding: 0px 16px;
                margin-top: 20px;

                .poster-upload-btn {
                    border: 1px solid black;
                    padding: 5px 5px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }

                .poster-upload-img {
                    padding-top: 16px;
                    height: 335px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .first-type {
                .first-type-label {
                    margin-top: 0.5em;
                }
            }
        }

        .second-block {        
            padding: 0px 16px;
            font-size: 20px;         
        }

        .gerne-block {
            margin-top: 16px;
            padding: 0px 16px;
            font-size: 20px;

            .gerne-tag {
                display: inline-block;
                border: 1px solid black;
                min-width: 110px;
                margin: 3px 5px;
                text-align: center;  
                cursor: pointer;
                padding: 3px 3px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }    
            }

            .gerne-active {
                background-color: rgba(32, 92, 94, 0.75);
                color: white;
            }
        }

        .plot-block {
            margin-top: 16px;
            padding: 0px 16px;
            font-size: 20px;

            #plot-input {
                height: 150px;
            }
        }

        .review-block {
            margin-top: 16px;
            padding: 0px 16px;
            font-size: 20px;
            border-top: 2px solid rgba(0, 0, 0, 0.5);

            // display: flex;

            .review-area {
                display: flex;
                margin-right: 32px;
                margin-top: 16px;

                .review-btn {
                    text-align: center;
                    height: 30px;
                    font-weight: bold;
                    padding: 2px 5px;
                    width: 130px;
                    outline: none;
                    font-size: 16px;

                    &::placeholder { 
                        font-weight: normal;
                      }
                }

                #review-input {
                    margin-left: 10px;
                    height: 100px;
                }
            }

            .review-option {
                display: flex;
                justify-content: right;
                margin-top: 5px;

                .review-remove-btn {
                    height: 40px;
                    width: 110px;
                    // background-color: #e93d31;
                    // background-image: linear-gradient(to bottom right, rgb(196, 102, 102), rgb(201, 33, 27));
                    border: 2px solid rgb(153, 35, 35);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    cursor: pointer;       

                    &:hover {
                        opacity: 0.8;  
                        color: white; 
                        background-color: rgb(153, 35, 35);
                    }
                }

                .review-add-btn {
                    height: 40px;
                    width: 110px;
                    // background-color: rgba(32, 94, 45, 0.75);
                    border: 2px solid rgba(32, 94, 45, 0.75);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 30px;
                    margin-left: 10px;
                    cursor: pointer;
                    
                    &:hover {
                        opacity: 0.8;
                        color: white; 
                        background-color: rgba(32, 94, 45, 0.75);
                    }
                }             
            }
        }

        .rate-block {
            margin-top: 16px;
            padding: 0px 16px;
            font-size: 20px;
            display: flex;
            align-items: center;

            .rate-input {
                margin: 0px 5px;
                width: 60px;
                text-align: center;
            }

            .rate-icon {
                color: rgb(112, 112, 21);
            }
        }

        .submit-block {
            margin-top: 16px;
            padding: 0px 16px;
            left: -500px;
            padding-bottom: 16px;
            margin-right: 30px;
            display: flex;
            flex-flow: column;
            align-items: flex-end;

            .summit-error {
                color: #b4271d;
            }

            .submit-btn {
                right: 0;
                font-size: 25px;
                height: 60px;
                width: 150px;
                background-color: rgba(32, 92, 94, 0.75);
                border: none;
                border-radius: 5px;

                &:hover {
                    color: white;
                    opacity: 0.7;
                }
            }
        }
    }
}

.first-type > .first-type-tags:first-child > label {
    width: 140px;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.568);
}
