.menubar-container {
    margin-left: 150px;
    flex: 3;
    height: calc(100vh - 50px);
    background-color: white;
    opacity: 0.75;
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;

    overflow-y: scroll;

    .menu-list {
        .menu-items {
            font-size: 23px;
            text-shadow: 0.5px 0px;
            font-weight: 500;
            padding: 10px 20px;
            background-color: rgb(175, 172, 172);
            border: solid 1px black;
            cursor: pointer;

            &:hover
            {
                background-color: #b88e3f;
                color: white;
            }
        }
    }
}

.active-section {
    background-color: #775e2f !important;
    color: white;
}
