.single-post {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);   
    background: #52ebf09a;
    margin: 20px 30px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    width: 250px;
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;

    &:hover {
        opacity: 0.6;
    }

    .post-rate {
        display: flex;
        align-items: center;
        font-size: 20px;
        padding-left: 5px;
        
        .post-rate-start {
            color: rgb(209, 209, 81);
        }

        .post-rate-number {
            margin-right: 2px;
        }
    }

    .post-title {
        padding: 0 5px;
        font-size: 25px;
        font-weight: 550;
        color: black;
        height: 60px;
    }

    .post-poster {
        width: 100%;       
        height: 300px;
        object-fit: cover;
    }

    .post-description {
        padding-left: 5px;
        color: rgba(0, 0, 0, 0.671);
        font-size: 18px;
        font-weight: 530;
        margin-top: 5px;
        height: 46px;
        border-top: 3px dashed rgba(92, 102, 35, 0.795);
        line-height: 18pt;
    }
}