.comment-container {
    .user-comment {
        margin: 1em 0.5em;

        textarea {
            width: 95%;
            min-height: 7em;
            border-radius: 1em;
            padding: 0.5em 0.5em;
            font-size: 1em;
        }
        button {
            border: none;
            outline: none;
            background-color: rgb(123, 163, 163);
            min-width: 4.5em;
            min-height: 2.5em;
            float: right;
            cursor: pointer;
            border-radius: 1em;
            font-size: 0.9em;
    
            &:hover {
                color: rgba(255, 255, 255, 0.808);
                opacity: 0.9;
            }
        }
    }

    .clearfix {
        clear:both;
    }

    .comment-seperate-line {
        margin: 1em 0;
        border-top: 1px solid rgba(255, 255, 255, 0.363);
    }

    .list-comment {
        margin: 0 0.5em;
    }
}

