.login-container {
    background-color: rgba(204, 204, 204, 0.8);
    align-self: center;
    width: 30em;
    box-sizing: border-box;
    padding: 2em 2em;

    h1 {
        text-align: center;
        margin-bottom: 1em;
        font-size: 3em;
    }

    p {
        text-align: center;
        margin-bottom: 0.8em;
    }

    .register-account {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5em;
        cursor: pointer;
        font-size: 1.5em;
        text-decoration: none;
        color: black;
        
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    
    label {
        display: block;
        margin-bottom: 0.2em;
        font-size: 1.2em;
    }

    input {
        width: 100%;
        margin-bottom: 2em;
        height: 2em;
        border: 1px solid rgba(155, 155, 155, 0.7);
        font-size: 1.1em;
        border-radius: 3px;

        
    }

    #login-password-input {
        margin-bottom: 0.2em;
    }

    .forget-password {
        margin-top: 0.5em;
        display: flex;
        justify-content: right;
        cursor: pointer;
        color: black;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .login-button {
        display: flex;
        justify-content: space-around;
        margin: 2em 0;

        button {
            outline: none;
            border: none;
            width: 45%;
            border-radius: 15px;
            height: 2em;
            font-size: 1.2em;
            background-color: black;
            color: white;
            cursor: pointer;
            
            &:hover {
            opacity: 0.5;
        }

    }

        
    }
}