.profile-container {
    display: flex;
    width: 100%;
    margin-top: 10em;
    height: 30em;

    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;

    .profile-menu {
        margin-left: 100px;
        flex: 3;
        height: auto;
        opacity: 0.8;
        

        .profile-menu-item {
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            text-align: center;
            padding: 0.5em 1em;
            font-size: 23px;
            text-shadow: 0.5px 0px;
            font-weight: 500;
            color: black;
            background-color: rgba(175, 172, 172, 0.5);
            border: solid 1px black;
            cursor: pointer;

            &:hover {
                background-color: #b88e3f;
                color: white;
            }
        }

        .active {
            background-color: #775e2f !important;
            color: white;
        }
    }

    .profile-content {
        margin-right: 100px;
        flex: 13;
        background-color: rgba(187, 187, 187, 0.8);
        
        overflow-y: scroll;
    }
}